<div class="alert alert-success">
    Conversion between <b><%= mess.first.sender.name %> & <%= mess.first.recipient.name%></b>
    <%= link_to "Reply", new_user_message_path(user_id: current_user.id), class: "a text-success pull-xs-right" %>
</div>
<% mess.each do | message | %>
    <%= render partial: "messages/message_body", locals: {message: message} %> 
<% end %>


