<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>You are now joined Louder! Let's sign in and make some noise!
    </p>
</body>
</html>