
<h3>Homepage</h3>
<% if @messages.count > 0 %>
    <p>List of incoming messages goes here.</p>
    <%= render @messages %>
<% else %>
    <p>No incoming messages yet. Add friends and start sending message!</p>
<% end %>