<h3>Inbox</h3>
<% if @messages.unread.count > 0 %>
    <p>List of incoming messages goes here.</p>
    <% @messages.select(:sender_id).group(:sender_id).each do |group| %>
        <%= render partial: "messages/message", locals: {mess: @messages.where(sender_id: group[:sender_id]).unread.order("created_at DESC")} %>
    <% end %>
<% else %>
    <p>No more incoming messages. Add friends and start sending message!</p>
<% end %>