
<h3>Homepage</h3>
<p>List of incoming messages goes here.</p>
<p class="text-xs-right"> <a href="#" class="btn btn-primary">New Message</a> </p>
<p class="text-xs-right"> <a href="#" class="btn btn-primary">Add Friends</a> </p>
<p class="text-xs-right"> <a href="#" class="btn btn-primary">Sent Messages</a> </p>