@import "bootstrap";
@import "users";

html,body{ 
    width:100%;
    height:100%;
}


canvas{
  display:block;
  vertical-align:bottom;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.page-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width:32em;
  height:50em;
  margin-top: -25em; /*set to a negative number 1/2 of your height*/
  margin-left: -18em; /*set to a negative number 1/2 of your width*/
}

.main-content {
  border-radius: 4px;
  box-sizing: border-box;
  background: #eee;
  padding: 20px;
  height: 40em;
  overflow-y: scroll;
}


.particle-background {
    // background-color:  rgb(24, 154, 182); 
    background-color: #37aa5f;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}